<mat-card class="p-4 mat-elevation-z6">
    <mat-card-title class="text-blue-700">{{ title }}</mat-card-title>
    <br>

    <mat-card-content>
        <div *ngIf="loading" class="text-gray-900 mb-2">⏳ Loading Python...</div>

        <textarea [(ngModel)]="code" rows="18" class="w-full font-mono border p-2 rounded resize-none"
            [disabled]="loading"></textarea>

        <div class="mt-3 flex gap-3">
            <button mat-raised-button color="primary" (click)="runCode()" [disabled]="loading">
                ▶ Run
            </button>
            <button mat-raised-button color="accent" (click)="output = ''">
                Clear
            </button>
        </div>
        <div class="mt-4 p-3 rounded font-sans bg-gray-100 max-h-[400px] overflow-auto">
            <pre class="whitespace-pre-wrap m-0" [innerHTML]="output"></pre>
        </div>

        <!-- <div class="mt-4 font-mono p-3 rounded">
  <div [innerHTML]="output"></div>
</div> -->
    </mat-card-content>
</mat-card>