<div class="grid">

    <div>
        <mat-toolbar style="background-color: rgb(0, 0, 0);">
            <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon style=" color: rgb(236, 250, 79);">menu</mat-icon>
            </button>


            <span class="example-spacer"></span>
            <button matButton="elevated" style="background-color: rgb(236, 250, 79); color: rgb(10, 10, 10);"
                [routerLink]="'/main'">
                <mat-icon>
                    laptop_chromebook
                </mat-icon>
                Explore
                content</button>

        </mat-toolbar>
    </div>

    <!-- hero section with background image, height width set to screen size for responsiveness -->
    <div class=" sm:object-contain md:object-cover  lg:h-[80vh] 
         xl:h-[100vh]">
        <img src="assets/images/asp2.png" class="w-full h-auto" [routerLink]="'/main'">
    </div>


    <div class=" sm:object-contain md:object-cover  lg:h-[80vh] 
         xl:h-[100vh]">
        <img src="assets/images/lp2.png" alt="Landing Page Image" class="w-full h-auto  " />
    </div>

    <div class=" sm:object-contain md:object-cover  lg:h-[80vh] 
         xl:h-[100vh]">
        <img src="assets/images/lp3.png" alt="Landing Page Image" class="w-full h-auto  " />
    </div>

 <div class=" sm:object-contain md:object-cover  lg:h-[80vh] 
         xl:h-[100vh]">
        <img src="assets/images/lp10.png" alt="Landing Page Image" class="w-full h-auto  " />
    </div>


    <div class=" sm:object-contain md:object-cover  lg:h-[80vh] 
         xl:h-[100vh]">
        <img src="assets/images/lp4.png" alt="Landing Page Image" class="w-full h-auto  " />
    </div>

</div>